.DS_Store

# testing files
/output.txt
hotscore.js

# deployment files
deploy.zip

# python notebooks
.ipynb/
.ipynb_checkpoints/
**/**.ipynb

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/

# local postgress database docker volume
database/

# Celery local files
celerybeat-schedule
src/celerybeat-schedule
src/celerybeat-schedule.db

# dumps
dump.rdb
src/dump.rdb

src/.elasticbeanstalk
src/.ebextensions
src/.platform
src/Dockerfile


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Coverage
.coverage
coverage.xml
