{% load inlinecss %} {% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <style type="text/css">
      @media only screen and (max-width: 767px) {
        .hubs-desktop {
          display: none !important;
        }

        .hubs-mobile {
          display: block !important;
        }
      }
    </style>
    <div style="display: none; max-height: 0px; overflow: hidden">
      {{ preview_text }}
    </div>
    <div class="email-container">
      <div class="email-header">
        <div class="flex-text inline">
          <div class="first-name">{{ requestor_name }}'s Author Claim</div>
        </div>
      </div>
      <div class="content">
        <div class="points">
          <span class="flex-text">
            You have recently tried to claim author {{ author_name }}
          </span>
        </div>
        Please click <a href="{{validation_url}}">here</a> to confirm your
        request
      </div>
      <div class="footer">
        <div>This email was sent by ResearchHub</div>
        <div>If you would like to stop receiving emails from ResearchHub</div>
      </div>
    </div>
  </body>
</html>
