{% load inlinecss %}
{% load l10n %}
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    {% inlinecss "notification_email.css" %}
    <body>
      <div class="email-container">
        <div class="email-header">
          <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png" />
          <div class="header">
            Your Notifications
          </div>
        </div>
          <div class="content">
              Placeholder
            <div class="divider">
              <div class="line"></div>
            </div>
          </div>
    </body>
</html>

{% endinlinecss %}
