{% load inlinecss %}

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=K2D:400,700" rel="stylesheet" />
    </head>
    {% inlinecss "css/notification_email.css" %}
    <body>
      <div class="email-container">
        <div class="email-header">
          <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png" />
          <div class="header">Notifications</div>
        </div>
        {% for action in actions %}
        <div class="content">
          <div class="meta">
            <div class="avatar-wrapper">
              <img
                class="author-avatar"
                src="{{ action.item.created_by.author_profile.profile_image }}"
                alt="{{ action.item.created_by.author_profile.profile_image }}"
              />
            </div>
            <div class="notification-wrapper">
              <div class="notification-title">
                <b>
                  {{ action.item.created_by.author_profile.first_name }}
                   {{ action.item.created_by.author_profile.last_name }}
                </b> {{ action.label }}.
                <span class="timestamp">
                  <span class="timestamp-icon">•</span>
                  {{ action.created_date }}
                </span>
              </div>
            </div>
          </div>
          <div class="body">
          "{{ action.item.plain_text }}"
          </div>
          <div class="hubtags-list">
            <div class="button-wrapper">
                <div class="button-label">
                View Thread / Reply
                </div>
            </div>
          </div>
          <div class="divider">
            <div class="line"></div>
          </div>
        </div>
      {% endfor %}
      <div class="footer">
        <a href="{{opt_out}}">Unsubscribe or change how frequently I get updated</a>
      </div>
    </body>
</html>

{% endinlinecss %}
