{% load inlinecss %}

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=K2D:400,700" rel="stylesheet" />
    </head>
    {% inlinecss "css/notification_email.css" %}
    <body>
      <div class="email-container">
        <div class="email-header">
          <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png" />
          <div class="header">Notifications</div>
        </div>
        <!-- {% for paper in paper_list %} -->
        <div class="content">
          <div class="meta">
            <div class="avatar-wrapper">
              <img 
                class="author-avatar"
                src=""
                alt=""
              />
            </div>
            <div class="notification-wrapper">
              <div class="notification-title">
                <b>Mark Robertson</b> replied to your comment.
                <span class="timestamp">
                  <span class="timestamp-icon">•</span>
                  Just now
                </span> 
              </div>
            </div>
          </div>
          <div class="body">
          "Thanks Katy for the question.
You are totally correct that biomedical data is being generated more quickly than ever. New technologies, like genomic sequencing and single-cell assay methods, are creating an explosion in raw data. 
Furthermore, we're able to extract more knowledge from existing datasets, for example by mining electronic health records and scientific papers. While the records and papers were always there, we're only now able to really analyze them efficiently due to digitization and improvements in data access / reuse."
          </div>
          <div class="hubtags-list">
            <div class="button-wrapper">
                <div class="button-label">
                View Thread / Reply
                </div>
            </div>
          </div>
          <div class="divider">
            <div class="line"></div>
          </div>
        </div>
          <!-- {% endfor %} -->
      <div class="footer">
        <a>Unsubscribe or change how frequently I get updated</a>
      </div>
    </body>
</html>

{% endinlinecss %}
