{% load inlinecss %} {% load l10n %} {% load humanize %}
<html>
  <link rel="stylesheet" href="../stylesheets/organization_invite.css" />
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      @media only screen and (max-width: 633px) {
        body {
          width: 100%;
          box-sizing: border-box;
        }

        .email {
          box-sizing: border-box;
        }

        .email-body {
          box-sizing: border-box;
        }

        .footer {
          box-sizing: border-box;
        }

        .banner-img-container {
          display: none !important;
        }
      }
    </style>
  </head>
  {% inlinecss "organization_invite.css" %}
  <body>
    <div class="email">
      <div class="email-body">
        <div class="banner-img-container">
          <img
            class="img-banner"
            src="https://rh-email-assets.s3-us-west-2.amazonaws.com/email_assets/user_verification.png"
          />
        </div>
        <div class="email-info">
          <div class="email-header">
            <img
              class="img-logo"
              src="https://rh-email-assets.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png"
            />
            <div class="header">
              {{ organization_title }} Invitation
              <p class="header-message">
                Hey there {{ user_name }},
                <br /><br />
                {{ inviter_name }} has invited you to join their organization
                <b>{{ organization_title }}</b>. Click below to accept their
                invitation!
              </p>
              <div class="email-action-container">
                <a class="email-action-button" href="{{ organization_link }}">
                  Go to {{ organization_title }}
                </a>
              </div>
            </div>
          </div>
          <div class="info-img-container">
            <img
              class="img-info"
              src="https://rh-email-assets.s3-us-west-2.amazonaws.com/email_assets/background_home+(1).png"
            />
          </div>
        </div>
      </div>
      <div class="footer">
        <a class="footer-link" href="{{ opt_out }}"
          >Unsubscribe from this list</a
        >
        <a class="footer-link" href="{{ update_subscription }}"
          >Update subscription preferences</a
        >
      </div>
    </div>
    <div style="display: none">{% now "U" %}</div>
  </body>
</html>

{% endinlinecss %}
