{% load inlinecss %}

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=K2D:400,700" rel="stylesheet" />
    </head>
    {% inlinecss "css/subscription_email.css" %}
    <body>
        <div class="email-container">
            <div class="email-header">
                <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png" />
                <div class="user-name">{{User}}'s Digest</div>
                <div class="header">
                    top activity on subscribed hubs
                </div>
            </div>
            {% for paper in paper_list %}
                <div class="content">
                    <div class="title">{{paper.title}}</div>
                    <div class="meta">
                        <img 
                            class="author-avatar"
                            src=""
                        />
                        <div class="column">
                        <div class="author-name">{{paper.author.first_name}} {{paper.author.last_name}}</div>
                        <div class="publish-date">{{paper.publish_date}</div>
                        </div>
                    </div>
                    <div class="body">
                        {{paper.tagline}}
                    </div> 
                    <div class="divider">
                        <div class="line"></div>
                    </div>
                </div>
            {% endfor %}
        <div class="footer">
            If you would like to stop receiving emails from ResearchHub <a href={{opt_out}}>opt-out here</a>
        </div>
    </body>
</html>

{% endinlinecss %}
