{% extends 'admin/change_form.html' %}

{% block field_sets %}
	{{ block.super }}
	<fieldset class="module aligned ">
		<div class="form-row field-file"> 
			<label for="id_file">Files:</label>
				{{ images|safe }}
		</div>
		<div class="form-row field-user">
			<label for="id_user">Academic Verification:</label>
			{{ verified|safe }}
		</div>
	</fieldset>
{% endblock %}

{% block submit_buttons_bottom %}
    <input type="submit" value="Approve" name="_approve">
    <input type="submit" value="Reject" name="_reject">
    {{ block.super }}
{% endblock %}