{% load inlinecss %}
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    {% inlinecss "weekly_digest_email.css" %}
    <body>
        <div class="email-container">
            <div class="email-header">
                <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/ResearchHubLogo.png" />
            </div>
            {% for hub_name, papers in hubs.items %}
              {% for paper in papers %}
                <a class="content-container" href="https://www.researchhub.com/paper/{{paper.id}}/summary">
                    <div class="content">
                        <div class="points">
                            {{ paper.calculate_score }}
                        </div>
                        <div class="right">
                          <div class="title">{{paper.title}}</div>
                          <div class="body">
                              {{paper.tagline}}
                          </div>
                          <div class="meta">
                            <div class="author-name">
                                {{paper.author.first_name}} {{paper.author.last_name}}
                            </div>
                            <div class="row">
                                <div>
                                    <img src="{% static 'comments.png' %}" /> {{ paper.discussion_count }} comments
                                </div>
                                <div class="hubs">
                                  {% for hub in paper.hubs.all %}
                                      <div class="hub">
                                          {{ hub.name }}
                                      </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>  
                </a>
              {% endfor %}
            {% endfor %}
        <div class="footer">
            If you would like to stop receiving emails from ResearchHub <a href={{opt_out}}>opt-out here</a>
        </div>
    </body>
</html>

{% endinlinecss %}
