{% load inlinecss %}
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    {% inlinecss "weekly_digest_email.css" %}
        <body>
            <div style="display: none; max-height: 0px; overflow: hidden;">
                {{ preview_text }}
            </div>
            <div class="email-container">
                <div class="email-header">
                    <div class="flex-text inline">
                        <img class="img-logo" src="https://researchhub-paper-prod.s3-us-west-2.amazonaws.com/email_assets/rh-logo.png" />
                        <div class="header-first-name">
                            {{ first_name }}'s Digest
                        </div>
                    </div>
                </div>
                <div class="tagline">
                    Top Papers For You
                </div>
                <div class="paper-card-container">
                    {% for paper in papers %}
                        <a class="paper-card-link" href="https://www.researchhub.com/paper/{{paper.id}}/summary">
                            <div class="paper-card">
                                <div class="score-wrap" style="align-items: center; display: flex; justify-content: center;">
                                    <div class="score" style="color: rgb(100, 196, 143); background: rgba(240, 240, 240, 0.5) !important; border-radius: 24px; width: 48px; height: 28px; display: flex; justify-content: center; align-items: center; text-align: center;">
                                        <span style="margin: auto;">
                                            {{paper.score}}
                                        </span>
                                    </div>
                                </div>
                                <table class="paper-card-right">
                                    <tr class="paper-card-right-row">
                                        <img
                                            class="author-avatar"
                                            src="https://lh5.googleusercontent.com/-17a1IzJomPE/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdlSnx9v1y2976233QPpmGaCpMSXg/photo.jpg"
                                            style="border-radius: 20px; height: 16; object-fit: contain; overflow: hidden; width: 16;"
                                        />
                                        <span class="paper-card-accent-font">
                                            {{paper.uploaded_by.full_name}}
                                        </span>
                                        <span>
                                            posted in
                                        </span>
                                        <span class="paper-card-accent-font">{{paper.get_hub_names}}</span>
                                    </tr>
                                    <tr class="paper-card-right-row">
                                        <span class="paper-card-paper-title">
                                            {{paper.display_title}}
                                        </span>
                                    </tr>
                                    <tr class="paper-card-right-row">
                                        <img class="paper-card-icon icon-first" src="https://rh-email-assets.s3.us-west-2.amazonaws.com/rh-comment-icon.png" width="16px"/>
                                        {{paper.get_discussion_count}}
                                        <img class="paper-card-icon" src="https://rh-email-assets.s3.us-west-2.amazonaws.com/rh-paper-icon.png" width="16px"/>
                                        paper
                                    </tr>
                                </table>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="read-more-container">
                    <a href="https://www.researchhub.com" class="read-more-button">
                        Read More on ResearchHub
                    </a>
                </div>
            <div class="footer">
                <div>
                    This email was sent by ResearchHub
                </div>
                <div>
                    If you would like to stop receiving emails from ResearchHub <a href={{opt_out}}>opt-out here</a>
                </div>
            </div>
        </body>
    {% endinlinecss %}
</html>
