files:
  "/etc/supervisord.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [unix_http_server]
      file=/var/run/supervisor/supervisor.sock   ; (the path to the socket file)
      ;chmod=0700                 ; socket file mode (default 0700)
      ;chown=nobody:nogroup       ; socket file uid:gid owner

      [supervisord]
      logfile=/var/log/supervisord.log ; (main log file;default $CWD/supervisord.log)
      logfile_maxbytes=10MB        ; (max main logfile bytes b4 rotation;default 50MB)
      logfile_backups=10           ; (num of main logfile rotation backups;default 10)
      loglevel=info                ; (log level;default info; others: debug,warn,trace)
      pidfile=/var/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
      minfds=1024                  ; (min. avail startup file descriptors;default 1024)
      minprocs=200                 ; (min. avail process descriptors;default 200)
      directory=/var/app/current    ; (default is not to cd during start)
      ;nocleanup=true              ; (don't clean up tempfiles at start;default false)

      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

      [supervisorctl]
      serverurl=unix:///var/run/supervisor/supervisor.sock

container_commands:
  01_configure:
    command: "cp .ebextensions/supervisor-setup.sh /opt/elasticbeanstalk/hooks/appdeploy/post/ && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/supervisor-setup.sh"
  02_supervisor_setup:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/supervisor-setup.sh"
