option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: researchhub.settings
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: researchhub/wsgi.py

commands:
  "10-chown-app-log":
    command: "touch /opt/python/log/app.log && chmod 666 /opt/python/log/app.log"