body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  height: 360px;
  padding: 50px 0;
}

.banner-img-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0 24px;
  width: 100%;
}

.bold-name {
  line-height: 36px;
  font-weight: 700;
}

.content {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding: 16px 24px;
}

.email-header {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 23px;
  text-align: left;
}

.flex-text {
  align-items: center;
  display: flex;
  line-height: 36px;
}

.img-logo {
  height: 32px;
  width: 138px;
}

.footer {
  background-color: #282936;
  color: #fff;
  font-size: 12px;
  height: 32px;
  margin-top: 52px;
  padding-top: 12px;
  text-align: center;
  width: 100%;
}

.verify-button {
  padding: 8px 0 0;
  background: #3971ff;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  height: 28px;
  margin-top: 24px;
  width: 205px;
  text-align: center;
}

.verification-link {
  text-decoration: none;
}
