body {
  font-family: 'Roboto', sans-serif;
}
.email-container {
  width: 600px;
  border: none;
  margin: 0px auto;
}

.user-name {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 30px;
}

.email-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-bottom: 0;
}

.img-logo {
  height: 40px;
  width: 100%;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: "center";
  width: 600px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 500;
}

.meta {
  width: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}

.author-avatar {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.avatar-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #000;
  object-fit: contain;
  overflow: hidden;
}

.author-name {
  font-weight: 500;
  font-size: 14px;
}

.publish-date {
  color: rgb(145, 143, 155);
  font-size: 14px;
}

.header-text {
  margin-left: auto;
  font-size: 24px;
  letter-spacing: 0.7px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(78, 83, 255);
}

.instructions {
  padding: 16px;
}

.reset-text {
  padding: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.title {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  padding: 0px 16px;
}

.body {
  line-height: 1.4;
  font-size: 14px;
  padding-bottom: 10px;
}

.divider {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 150px;
  border-bottom: 1px solid #ddd;
}

.product-name {
  margin-right: 8px;
}

.footer {
  font-size: 12px;
  color: #aaa;
  padding: 10px;
  padding-top: 25px;
  text-align: center;
}

.hubtags-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  padding-bottom: 20px;
}

.hubtag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeefe;
  height: 21px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.hubtag-label {
  font-size: 10px;
  color: rgb(78, 83, 255);
  height: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px 10px 3px 10px;
  background-color: rgb(237, 238, 254);
}
