body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(252, 252, 252);
}
.email-container {
  max-width: 700px;
  width: 100%;
  border: none;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
}

.read-more-button {
  padding: 16px;
  background: rgb(78, 83, 255);
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 50%;
  max-width: 180px;
  border-radius: 4px;
  margin: 0 auto;
}

.read-more-container {
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.paper-card {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: rgb(144, 144, 144);
  display: flex;
  font-size: 14px;
  font-weight: 200;
  height: 115px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 16px;
}

.paper-card-container {
  text-decoration: none;
  margin-bottom: 16px;
}

.paper-card-link {
  text-decoration: none;
}

.paper-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 16px;
  width: 100%;
}

.paper-card-right-row {
  display: flex;
  align-items: center;
}

.paper-card-accent-font {
  color: rgb(36, 31, 58);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.paper-card-paper-title {
  color: rgb(36, 31, 58);
  font-size: 20px;
  font-weight: 500;
  margin: 8px 0px;
}

.paper-card-icon {
  height: 16px;
  width: 16px;
  object-fit: contain;
  margin-left: 8px;
}

.paper-card-icon.icon-first {
  margin-left: 0;
}

.score {
  color: rgb(100, 196, 143);
  background: rgba(240, 240, 240, 0.5) !important;
  border-radius: 24px;
  width: 48px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.score-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

.email-header {
  text-align: center;
  padding: 16px;
  margin: auto;
}

.img-logo {
  height: 40px;
  object-fit: contain;
}

.header-first-name {
  font-size: 20px;
  margin: 8px 0px;
  font-family: "Raleway", sans-serif;
}

.tagline {
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 16px;
  margin-top: 16px;
  font-variant: small-caps;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.author-avatar {
  border-radius: 20px;
  width: 16px;
}

.avatar-wrapper {
  height: 40px;
  width: 40px;
  background-color: #000;
  object-fit: contain;
}

.author-name {
  font-weight: 500;
  font-size: 14px;
}

.publish-date {
  color: rgb(145, 143, 155);
  font-size: 14px;
}

.header-text {
  margin-left: auto;
  font-size: 24px;
  letter-spacing: 0.7px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(78, 83, 255);
}

.instructions {
  padding: 16px;
}

.reset-text {
  padding: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

.body {
  line-height: 1.4;
  font-size: 14px;
  padding-bottom: 10px;
  color: #111;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 150px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
}

.product-name {
  margin-right: 8px;
}

.footer {
  font-size: 12px;
  color: #aaa;
  padding: 10px;
  padding-top: 25px;
  text-align: center;
}

.hubtags-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  padding-bottom: 20px;
}

.hubtag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeefe;
  height: 21px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.hubtag-label {
  font-size: 10px;
  color: rgb(78, 83, 255);
  height: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px 10px 3px 10px;
}
