# Config
config/*
!config/paper.pdf
!config/*.py
!config/ci
config_local/*
!config_local/__init__.py

# Django
__pycache__/

# Ignore DB
db.json
static/
!static/css
!static/ethereum
!static/ethereum/*
!static/researchhub
!static/researchhub/*
backups/
