# Config
config/*
config_local/*
!config/paper.pdf
!config/ci

# Django
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore DB
db.json
static/
backups/