[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
postgres = "==3.0.0"
djangorestframework = "==3.11.1"
django-allauth = "==0.42.0"
django-rest-auth = "==0.9.5"
django-contrib-comments = "==1.9.2"
flake8 = "==3.9.0"
django-cors-headers = "==3.5.0"
boto3 = "==1.15.3"
django-storages = "==1.10.1"
django-filter = "==2.4.0"
sentry-sdk = "==0.18.0"
django-elasticsearch-dsl = "==7.1"
django-elasticsearch-dsl-drf = "==0.20.8"
django-extensions = "==3.0.9"
smart-open = "==2.2.1"
pre-commit = "==2.7.1"
django-inlinecss = "==0.3.0"
django-ses = "==1.0.3"
web3 = "==5.12.1"
django-silk = "==4.1.0"
django-dbbackup = "==3.3.0"
celery = {extras = ["redis"],version = "==4.4.7"}
django-celery-beat = "==2.0.0"
ipdb = "==0.13.2"
habanero = "==0.7.4"
celery-redbeat = "==1.0.0"
channels = "==2.4.0"
channels-redis = "==3.1.0"
unidecode = "*"
python-slugify = "==4.0.1"
pymupdf = "==1.18.8"
jellyfish = "==0.8.2"
nltk = "==3.5"
sqlparse = "==0.3.1"
django-redis-cache = "==2.1.0"
watchdog = "==0.10.3"
xmltodict = "==0.12.0"
elastic-apm = "==5.9.0"
arxiv = "==0.5.3"
pandas = "==1.1.2"
eth-keys = "==0.3.3"
google-api-python-client = "==1.12.1"
mailchimp-marketing = "==3.0.21"
sift = "==5.0.1"
django-ipware = "==3.0.1"
geoip2 = "==4.1.0"
stripe = "==2.54.0"
python-twitter = "==3.5"
lxml = "==4.6.2"
html5lib = "==1.1"
flower = "==0.9.7"
pillow = "==8.1.0"
feedparser = "==6.0.2"
manubot = "==0.5.0"
django-celery-results = "==2.0.1"
newrelic = "*"

[requires]
python_version = "3.6"
