[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2"
postgres = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
django-contrib-comments = "*"
flake8 = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
django-filter = "*"
sentry-sdk = "*"
django-elasticsearch-dsl = "~=7.1"
django-elasticsearch-dsl-drf = "*"
django-extensions = "*"
smart-open = "*"
pre-commit = "*"
django-inlinecss = "*"
boto = "*"
django-ses = "*"
web3 = "*"
manubot = "==0.3.1"
django-silk = "*"
django-dbbackup = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-beat = "*"
ipdb = "*"
habanero = "*"
celery-redbeat = "*"
channels = "*"
channels-redis = "*"
unidecode = "*"
python-slugify = "*"
pymupdf = "*"
jellyfish = "*"
nltk = "*"
sqlparse = "*"
django-redis-cache = "*"
watchdog = "*"
xmltodict = "*"
newrelic = "*"
elastic-apm = "*"
arxiv = "*"
python-twitter = "*"
pandas = "*"
eth-keys = "*"
google-api-python-client = "*"
lxml = "*"

[requires]
python_version = "3.7"
