[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2"
postgres = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
django-contrib-comments = "*"
flake8 = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
django-filter = "*"
sentry-sdk = "*"
django-elasticsearch-dsl = "~=7.1"
django-elasticsearch-dsl-drf = "*"
django-extensions = "*"
smart-open = "*"
pre-commit = "*"
django-inlinecss = "*"
boto = "*"
django-ses = "*"
web3 = "*"
manubot = {git = "https://github.com/manubot/manubot",ref = "36bc1c4ff3dfc135dbb3dd200432aa2f1342da3e"}
django-silk = "*"
django-dbbackup = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-beat = "*"

[requires]
python_version = "3.7"
